.error {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin-top: 2rem;
}

.error__h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: var(--very-dark-blue);
}

.error__p {
    color: var(--grey);
    margin-top: 2rem;
}