.input {
    background-color: var(--light-grey);
    width: 100%;
    border-radius: 5px;
    padding: 14px;
    border: none;
    position: relative;
    font-size: calc(15rem / 16);
}

.input:hover {
    outline: 2px solid var(--blue);
}

.input:active {
    outline: 1px solid var(--blue);
}

.comment-heading {
    font-size: calc(18rem / 16);
    color: var(--dark-blue);
    font-weight: 700;
}

.add-comment textarea {
    resize: none;
    height: 100px;
    margin-bottom: 1rem;
    margin-top: calc(27rem / 16);
}

.add-comment {
    background-color: var(--white);
    padding: 24px 34px;
    color: var(--dark-blue);
    border-radius: 10px;
    font-size: calc(15rem / 16);
    margin-bottom: 5rem;
    margin-top: 3rem;
}

@media screen and (max-width: 730px) {
    .add-comment {
        margin-top: 0;
    }

    .add-comment:not(.add-comment-header) {
        font-size: calc(13rem / 16); 
    }
}

.form-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.error-message {
    color: var(--red);
    font-size: calc(14rem / 16);
    margin-top: 4px;
}

.empty-input {
    border: 2px solid var(--red);
    outline: none;
}

.empty-input:hover {
    outline: none;
}

.empty-input:active {
    outline: none;
}

.comments {
    margin-top: 3rem;
    background-color: var(--white);
    border-radius: 10px;
    padding: 14px;
    margin-bottom: calc(27rem / 16);
    padding: 24px 34px;
}

@media screen and (max-width: 730px){
    .comments {
        margin-top: calc(24rem / 16);
    }
}

.comment {
    padding-bottom: 1.4rem;
    margin-top: 1.4rem;
    border-bottom: 1px solid var(--lightblue-grey);
    color: var(--grey);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: calc(32rem / 16);
}

@media screen and (max-width: 730px){
    .comment {
        font-size: calc(13rem / 16);
    }

    .comment-heading {
        margin-bottom: 1rem;
        font-size: calc(13rem / 16);
    }
}

.comment:last-child {
    border-bottom: none;
}

.avatar-container {
    display: flex;
    align-items: center;
    flex-basis: fit-content;
}

.avatar {
    width: calc(40rem / 16);
    height: calc(40rem / 16);
}

.user {
    margin-bottom: calc(19rem / 16);
}