#feedbackDetail {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 80px;
    background-color: var(--lightblue-grey);
    min-height: 100vh;
}

@media screen and (max-width: 730px) {
    #feedbackDetail {
        padding-top: 0;
        }
}

#feedbackDetail .feedback:hover {
    transform: none;
    box-shadow: none;
    cursor: default;
}

.container {
    width: 730px;
}

@media screen and (max-width: 930px) {
    .container {
        width: 100%;
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media screen and (max-width: 730px) {
    .container {
        padding-left: 24px;
        padding-right: 24px;
    }
}

.buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: calc(32rem / 16);
    margin-bottom: calc(24rem / 16);
}