.addfeedback-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--light-grey);
    min-height: 100vh;
    position: relative;
}

.form .go-back {
  position: absolute;
  left: 0;
  top: -68px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: var(--white);
    padding: 52px 42px;
    color: var(--dark-blue);
    border-radius: 10px;
    font-size: calc(14rem / 16);
    width: 540px;
    position: relative;
    margin-top: 160px;
    margin-bottom: 160px;
}

.form-add::after {
    content: "";
    position: absolute;
    top: -28px;
    left: 42px;
    width: 56px;
    height: 56px;
    background: url(../assets/shared/icon-new-feedback.svg) no-repeat center center;
}

.form-edit::after {
    content: "";
    position: absolute;
    top: -28px;
    left: 42px;
    width: 56px;
    height: 56px;
    background: url(../assets/shared/icon-edit-feedback.svg) no-repeat center center;
}

@media screen and (max-width: 500px){
    .form {
        width: 87.2%;
        padding: 44px 24px;
    }
}

.form-title {
    font-size: calc(24rem / 16);
    font-weight: 700;
    margin-bottom: calc(40rem / 16);
}

@media screen and (max-width: 500px){
    .form-title {
        font-size: calc(18rem / 16);
        margin-bottom: calc(24rem / 16);
    } 
}

.label {
    font-weight: 700;
    margin-bottom: 2px;
    margin-top: 24px;
}

.label-description {
    color: var(--grey);
    margin-bottom: 1rem;
}

#category {
    width: 100%;
}

.input {
    background-color: var(--light-grey);
    width: 100%;
    border-radius: 5px;
    padding: 14px;
    border: none;
    position: relative;
    font-size: calc(15rem / 16);
}

.input:hover {
    outline: 2px solid var(--blue);
}

.input:active {
    outline: 1px solid var(--blue);
}

.buttons-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    gap: 1rem;
    margin-top: 1rem;
}

.buttons-container.edit {
    justify-content: space-between;
}

.delete {
    margin-right: 110px;  
}

.form textarea {
    resize: none;
    height: 100px;
}

.added-message {
    font-size: calc(14rem / 16);
    margin-bottom: 3rem;   
}

.error-message {
    color: var(--red);
    font-size: calc(14rem / 16);
    margin-top: 4px;
}

.empty-input {
    border: 2px solid var(--red);
    outline: none;
}

.empty-input:hover {
    outline: none;
}

.empty-input:active {
    outline: none;
}
