@media screen and (max-width: 730px) {
    .feedbacks {
        padding: 0 24px;
    }
    
}

.feedback {
    border-radius: 10px;
    background-color: var(--white);
    padding: 28px 32px;
    margin-bottom: calc(20rem / 16);
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 730px) {

    .feedback {
        align-items: flex-end;
        font-size: calc(13rem / 16);
    }

    .feedback .flex-start {
        flex-direction: column-reverse;
        gap: calc(22rem / 16);
    }
    
}

.feedback:hover {
    transform: translateY(-5px);
    transition: 0.2s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.feedback-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

@media screen and (max-width: 730px){
    .feedback-info p {
        font-size: calc(13rem / 16);
    }
}

.feedback-title {
    font-weight: 700;
    color: var(--dark-blue);
    font-size: calc(18rem / 16);
    margin-bottom: calc(4rem / 16)
}

.feedback-detail {
    color: var(--grey);
    font-size: 1rem;
    margin-bottom: calc(12rem / 16)
}

.feedback-category {
    color: var(--blue);
    padding: 5px 16px;
    border-radius: 10px;
    background-color: var(--lightblue-grey);
    font-size: calc(13rem / 16);
    font-weight: 600;
}

@media screen and (max-width: 730px) {
    .feedback-category {
        font-size: calc(13rem / 16);
    }
}

.feedback-comments {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: calc(7rem / 16);
    font-weight: 600;
}

.btn-upvote {
    background-image: url(../assets/shared/icon-arrow-up.svg);
    background-repeat: no-repeat;
    background-position: center 25%;
    background-color: var(--lightblue-grey);
    border: none;
    cursor: pointer;
    font-weight: 700;
    color: var(--dark-blue);
    padding: 26px 11px 11px 11px;
    width: calc(40rem / 16);
}

@media screen and (max-width: 730px){
    .btn-upvote {
        padding: 6px 13px 6px 6px;
        width: calc(60rem / 16);
        background-position: 25% center;
        text-align: right;
    }
}

.btn-upvote:hover {
    background-color: var(--filter-hover);
}

.comments-num {
    color: var(--dark-blue);
}