.feedback {
    border-radius: 10px;
    background-color: var(--white);
    padding: 28px 32px;
    margin-bottom: calc(20rem / 16);
}

.feedback-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.feedback-title {
    font-weight: 700;
    color: var(--dark-blue);
    font-size: calc(18rem / 16);
    margin-bottom: calc(4rem / 16)
}

.feedback-detail {
    color: var(--grey);
    font-size: 1rem;
    margin-bottom: calc(12rem / 16)
}

.feedback-category {
    color: var(--blue);
    padding: 5px 16px;
    border-radius: 10px;
    background-color: var(--lightblue-grey);
    font-size: calc(13rem / 16);
    font-weight: 600;
}