.panel {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: calc(24rem / 16);
    width: calc(255rem / 16);
}

.panel-header {
    border-radius: 10px;
    height: calc(137rem / 16);
    width: 100%;
    background-image: url("./assets/suggestions/desktop/background-header.png");
    color: var(--white);
}

.panel-header h1 {
    font-size: calc(20rem / 16);
    font-weight: 700;
    margin-top: calc(62rem / 16);
    margin-left: calc(24rem / 16);
}

.panel-header h2 {
    font-size: calc(15rem / 16);
    margin-left: calc(24rem / 16);
    font-weight: 400;
}

.panel-filtering {
    background-color: var(--white);
    border-radius: 10px;
    padding: 24px;
    display: flex;
    flex-wrap: wrap;
    gap: calc(8rem / 16);
}

.filter-button {
    border: none;
    padding: 5px 16px;
    border-radius: 10px;
    background-color: var(--lightblue-grey);
    color: var(--blue);
    cursor: pointer;
    font-weight: 600;
}

.filter-button:hover {
    background-color: var(--filter-hover);
}

.filter-button.active {
    background-color: var(--blue);
    color: var(--white);
}
