.panel {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: calc(24rem / 16);
    width: calc(255rem / 16);
}

@media screen and (max-width: 930px) {
    .panel {
        flex-direction: row;
        justify-content: flex-start;
        align-self: flex-start;
        width: fit-content;
    }

    .panel>div {
        width: 100%;
    }
}

@media screen and (max-width: 730px) {
    .panel {
        width: 100%;
    }
}

.panel-header {
    border-radius: 10px;
    width: 100%;
    background-image: url("../assets/suggestions/desktop/background-header.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--white);
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
}

@media screen and (max-width: 930px) {
    div.panel-header {
        height: auto;
        padding: 16px 24px;
    }
}

@media screen and (max-width: 730px) {
    .panel-header {
        height: 100%;
        border-radius: 0;
        position: fixed;
        z-index: 1;
    }  
}

.hamburger-btn {
    display: none;
    z-index: -1;
}

@media screen and (max-width: 730px) {
    .hamburger-btn {
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 28px;
        z-index: 1;
        background-image: url("../assets/shared/mobile/icon-hamburger.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: calc(20rem / 16);
        height: calc(17rem / 16);
        z-index: 1;
        border: none;
        background-color: transparent;
        cursor: pointer;
    }

    .hamburger-btn:hover {
        scale: 1.2;
        transition: 100ms ease;
    }

    .hamburger-btn.opened {
        background-image: url("../assets/shared/mobile/icon-close.svg");
    }
    
}

.panel-header h1 {
    font-size: calc(20rem / 16);
    font-weight: 700;
    margin-top: calc(62rem / 16);
}

@media screen and (max-width: 930px){
    .panel-header h1 {
        margin-top: 95px;
    }
}

@media screen and (max-width: 730px) {
    .panel-header h1 {
        margin-top: 0;
        font-size: calc(15rem / 16);
    }
}

.panel-header h2 {
    font-size: calc(15rem / 16);
    font-weight: 400;
}

@media screen and (max-width: 730px) {
    .panel-header h2 {
        font-size: calc(13rem / 16);
    }
}

.panel-filtering {
    background-color: var(--white);
    border-radius: 10px;
    padding: 24px;
    display: flex;
    flex-wrap: wrap;
    gap: calc(8rem / 16);
}

@media screen and (max-width: 930px) {
    .panel-filtering {
        gap: calc(14rem / 16);
    }
}

@media screen and (max-width: 730px) {
    div.panel-filtering, div.panel-roadmap {
        position: fixed;
        right: -100vh;
        top: 96px;
        width: 223px;
        transition: 200ms;
    }

    div.panel-roadmap {
        top: 276px;
    }

    .panel-filtering.opened, .panel-roadmap.opened {
        right: 24px;
        transition: 200ms;
        z-index: 2;
    }

    .panel-overlay, .panel-box {
        transition: 200ms;
    }

    .panel-overlay {
        position: fixed;
        top: 73px;
        width: 100vw;
        height: 100vh;
        opacity: 0;
        z-index: -1;
        transition: 200ms;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .panel-overlay.opened {
        right: 0;
        height: 100vh;
        z-index: 0;
        opacity: 1;
    }

    div.panel-box {
        position: fixed;
        right: -100vh;
        top: 73px;
        width: 271px;
        transition: 200ms;
        background-color: var(--light-grey);
        z-index: 1;
    }

    .panel-box.opened {
        right: 0;
        height: 100vh;
    }

}

.filter-button {
    border: none;
    padding: 5px 16px;
    border-radius: 10px;
    background-color: var(--lightblue-grey);
    color: var(--blue);
    cursor: pointer;
    font-weight: 600;
}

@media screen and (max-width: 730px) {
    .filter-button {
        font-size: calc(13rem / 16);
    }   
}

.filter-button:hover {
    background-color: var(--filter-hover);
}

.filter-button.active {
    background-color: var(--blue);
    color: var(--white);
}

.panel-roadmap {
    background-color: var(--white);
    border-radius: 10px;
    padding: 19px 24px;
    font-size: 1rem;
}

.panel-roadmap-header {
    margin-bottom: calc(24rem / 16);
    color: var(--dark-blue);
    font-weight: 700;
}

.panel-roadmap-header h2 {
    font-size: calc(18rem / 16);
}

.roadmap-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.roadmap-row {
    color: var(--grey);
}

.roadmap-row:not(:last-child) {
    margin-bottom: calc(8rem / 16);
}

.link {
    color: var(--blue);
    font-size: calc(13rem / 16);
    text-decoration: underline;
    font-weight: 500;
}

.link:hover {
    color: var(--link-hover);
}

.circle {
    border-radius: 50%;
    width: calc(8rem / 16);
    height: calc(8rem / 16);
    display: inline-block;
    margin-right: 1rem;
    margin-bottom: 2px;
}

.planned {
    background-color: var(--orange);
}

.inProgress {
    background-color: var(--violet);
}

.live {
    background-color: var(--light-blue);
}