.panel {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: calc(24rem / 16);
    width: calc(255rem / 16);
}

@media screen and (max-width: 930px) {
    .panel {
        flex-direction: row;
        justify-content: flex-start;
        align-self: flex-start;
        width: fit-content;
    }
}

.panel-header {
    border-radius: 10px;
    height: calc(137rem / 16);
    width: 100%;
    background-image: url("./assets/suggestions/desktop/background-header.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--white);
}

@media screen and (max-width: 930px) {
    .panel-header {
        height: auto;
    }
}

.panel-header h1 {
    font-size: calc(20rem / 16);
    font-weight: 700;
    margin-top: calc(62rem / 16);
    margin-left: calc(24rem / 16);
}

.panel-header h2 {
    font-size: calc(15rem / 16);
    margin-left: calc(24rem / 16);
    font-weight: 400;
}

.panel-filtering {
    background-color: var(--white);
    border-radius: 10px;
    padding: 24px;
    display: flex;
    flex-wrap: wrap;
    gap: calc(8rem / 16);
}

.filter-button {
    border: none;
    padding: 5px 16px;
    border-radius: 10px;
    background-color: var(--lightblue-grey);
    color: var(--blue);
    cursor: pointer;
    font-weight: 600;
}

.filter-button:hover {
    background-color: var(--filter-hover);
}

.filter-button.active {
    background-color: var(--blue);
    color: var(--white);
}

.panel-roadmap {
    background-color: var(--white);
    border-radius: 10px;
    padding: 19px 24px;
    font-size: 1rem;
}

.panel-roadmap-header {
    margin-bottom: calc(24rem / 16);
    color: var(--dark-blue);
    font-weight: 700;
}

.panel-roadmap-header h2 {
    font-size: calc(18rem / 16);
}

.roadmap-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.roadmap-row {
    color: var(--grey);
}

.roadmap-row:not(:last-child) {
    margin-bottom: calc(8rem / 16);
}

.link {
    color: var(--blue);
    font-size: calc(13rem / 16);
    text-decoration: underline;
    font-weight: 500;
}

.link:hover {
    color: var(--link-hover);
}

.circle {
    border-radius: 50%;
    width: calc(8rem / 16);
    height: calc(8rem / 16);
    display: inline-block;
    margin-right: 1rem;
    margin-bottom: 2px;
}

.orange {
    background-color: var(--orange);
}

.violet {
    background-color: var(--violet);
}

.blue {
    background-color: var(--light-blue);
}