.roadmap {
    padding-top: 94px;
    padding-bottom: 94px;
    margin-inline: auto;
    padding-left: 40px;
    padding-right: 40px;
    max-width: calc(1110rem / 16);
}

@media screen and (max-width: 930px) {
    .roadmap {
        padding-top: 56px;
        padding-bottom: 56px;
    }
}

@media screen and (max-width: 860px) {
    .roadmap {
        padding: 0;
    }
}

@media screen and (max-width: 730px) {
    .roadmap p {
        font-size: calc(13rem / 16);
    }
}

.roadmap-header {
    color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 28px;
    border-radius: 10px;
    background-color: var(--very-dark-blue);
    margin-bottom: calc(48rem / 16);
}

@media screen and (max-width: 860px) {
    .roadmap-header {
        border-radius: 0;
        margin-bottom: 0;
    }
}

.roadmap-header h1 {
    font-size: calc(24rem / 16);
    font-weight: 700;
}

@media screen and (max-width: 730px) {
    .roadmap-header h1 {
        font-size: calc(18rem / 16);
    }
    
}

.header-container .go-back {
    color: var(--white);
}

.header-container .go-back:hover {
    color: var(--white);
    text-transform: underline;
}

.roadmap-content {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

@media screen and (max-width: 860px) {
    .roadmap-content {
        flex-direction: column;
        padding: 24px;
    }
}

.roadmap-feedback {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    background-color: var(--white);
    border-radius: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 32px;
    position: relative;
}

@media screen and (max-width: 730px) {
    .roadmap-feedback {
        font-size: calc(13rem / 16);
    }
}

.roadmap-feedback:hover {
    transform: translateY(-5px);
    transition: 0.2s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.roadmap-feedback:hover .feedback-title {
    color: var(--blue);
}

.content-header {
    margin-bottom: 8px;
}

.content-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
}

.roadmap-feedback::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 6px;
    left: 0;
    top: -6px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.planned::after {
    background-color: var(--orange);
}

.inProgress::after {
    background-color: var(--violet);
}

.live::after {
    background-color: var(--light-blue);
}

.header-h2 {
    font-size: calc(18rem / 16);
    font-weight: 700;
    color: var(--dark-blue);
}

.header-descp {
    font-size: 1rem;
    color: var(--grey);
}

.feedback-state {
    color: var(--grey);
}

.roadmap-upvotes-comments {
    margin-top: .5rem;
}

.roadmap-upvotes-comments .btn-upvote {
    background-position: 25% center;
    padding: 11px 11px 11px 26px;
    width: calc(69rem / 16);
}