:root {
  --violet: #AD1FEA;
  --light-blue: #62BCFA;
  --blue: #4661E6;
  --very-dark-blue: #373F68;
  --dark-blue: #3A4374;
  --white: #FFFFFF;
  --lightblue-grey: #F2F4FF;
  --light-grey: #F7F8FD;
  --grey: #647196;
  --orange: #F49F85;
  --red: #D73737;
  --hover-1: #656EA3;
  --hover-2: #C75AF6;
  --hover-3: #E98888;
  --hover-4: #7C91F9;
  --filter-hover: #CFD7FF;
  --border: #8C92B3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}

body {
  background-color: var(--light-grey);
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

li {
  list-style: none;
}

.bold {
  font-weight: 700;
}

.flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px;
}

.go-back {
  background: url(../assets/shared/icon-arrow-left.svg) no-repeat center left;
  border: none;
  cursor: pointer;
  font-weight: 700;
  color: var(--grey);
  padding-left: 16px;
}

.go-back:hover {
  color: var(--dark-blue);
  text-decoration: underline;
  transition: 100ms ease-in-out;
}

.btn {
  border-radius: 10px;
  border: none;
  padding: 12px 24px;
  font-weight: 700;
  cursor: pointer;
  color: var(--lightblue-grey);
  transition: background-color 100ms ease-in-out;
}

.btn-primary {
  background-color: var(--violet);
  color: var(--white);
}

.btn-primary:hover {
  background-color: var(--hover-2);
}

.btn-secondary {
  background-color: var(--dark-blue);
}

.btn-secondary:hover {
  background-color: var(--hover-1);
}

.btn-tertiary {
  background-color: var(--red);
}

.btn-tertiary:hover {
  background-color: var(--hover-3);
}

.btn-quaternary {
  background-color: var(--blue);
}

.btn-quaternary:hover {
  background-color: var(--hover-4);
}