:root {
  --violet: #ad1fea;
  --light-blue: #62bcfa;
  --blue: #4661e6;
  --very-dark-blue: #373f68;
  --dark-blue: #3a4374;
  --white: #ffffff;
  --lightblue-grey: #f2f4ff;
  --light-grey: #f7f8fd;
  --grey: #647196;
  --orange: #f49f85;
  --red: #d73737;
  --hover-1: #656ea3;
  --hover-2: #c75af6;
  --hover-3: #e98888;
  --hover-4: #7c91f9;
  --filter-hover: #cfd7ff;
  --border: #8c92b3;
  --link-hover: #8397f8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}

body {
  background-color: var(--light-grey);
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.bold {
  font-weight: 700;
}

.capitalize {
  text-transform: capitalize;
}

.dark-blue {
  color: var(--dark-blue);
}

.loading {
  margin-inline: auto;
  margin-top: 5rem;
}

.loading-detail {
  margin-top: 1rem;
}

.loading-comments {
  margin-top: 0;
}

.flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.go-back {
  background: url(../assets/shared/icon-arrow-left.svg) no-repeat center left;
  border: none;
  cursor: pointer;
  font-weight: 700;
  color: var(--grey);
  padding: 10px 16px;
  transform: translateY(-10px);
}

@media screen and (max-width: 730px) {
  .go-back {
    transform: none;
  }
}

.go-back:hover {
  color: var(--dark-blue);
  text-decoration: underline;
  transition: 100ms ease-in-out;
}

.btn {
  border-radius: 10px;
  border: none;
  padding: 12px 24px;
  font-weight: 700;
  cursor: pointer;
  color: var(--lightblue-grey);
  transition: background-color 100ms ease-in-out;
}

@media screen and (max-width: 730px) {
  .btn {
    font-size: calc(13rem / 16);
    padding: 10px 16px;
  }
}

.btn-primary {
  background-color: var(--violet);
  color: var(--white);
}

.btn-primary:hover {
  background-color: var(--hover-2);
}

.btn-secondary {
  background-color: var(--dark-blue);
}

.btn-secondary:hover {
  background-color: var(--hover-1);
}

.btn-tertiary {
  background-color: var(--red);
}

.btn-tertiary:hover {
  background-color: var(--hover-3);
}

.btn-quaternary {
  background-color: var(--blue);
}

.btn-quaternary:hover {
  background-color: var(--hover-4);
}
